alpaca:
  bar_data_time_frame: 30min
  daily_bars_url: "https://data.alpaca.markets/v2/stocks/bars"
  data_source: sip
  earliest_historical_date: 2016-01-02
  max_calls_per_minute: 195
  max_exec_duration_minutes: 30

aws:
  region: ${AWS_REGION}
  dynamodb:
    table_name: ${GATHER_DYNAMODB_TABLE_NAME}

datajockey:
  financials_url: "https://api.datajockey.io/v0/company/financials"
  max_calls_per_minute: 5
  company_count_per_run: 7

influxdb:
  bucket: ${INFLUXDB_BUCKET_MARKET_DATA_HISTORICAL}
  organization: ${INFLUXDB_ORG}
  token: ${INFLUXDB_TOKEN_HISTORICAL_WRITE}
  url: ${INFLUXDB_URL}

spring:
  config:
    import:
      - "source-data-params.yml"
      - aws-secretsmanager:prod/alpaca/api
      - aws-secretsmanager:prod/datajockey/api
      - aws-secretsmanager:prod/internal/shared-secret
  web:
    resources:
      add-mappings: false
